.row::after {
    content:"";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  * {
    box-sizing: border-box;
  }
  @media only screen and (min-width:992px) {
  body {
    height: auto;
    margin: auto;
    }
    
  .container{
    width: 1200px;
    margin: 0 auto;
    background-color:rgb(227, 223, 248);
    font-family: 'Nunito Sans';
    }
    .menu ul {
        list-style-type: none;
        padding:12px 50px 12px 50px; 
        margin: 0px;
        overflow: hidden;
        background-color: rgb(85, 107, 136);
        position: fixed;
        width: 1200px;
        z-index: 2;
     
       }
       li a  {float:right;
        display:block;
        padding: 14px 16px;
        text-align: center;
        color:#f7f9fc;
        text-decoration: none;
        font-size: 19px;
      
      }
    
     .style {
       float:left;
     }
      
     
      li a:hover { 
        background-color: lightgray;
        color:rgb(209, 58, 12);
               }
      
               
                                   
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      
      .banner1 { background:url(./anh/banh-te.jpg);
        width:100%;
        height:500px;
        background-size:cover;
        position:relative;
        background-repeat: no-repeat;
        background-position: center;
       

      }
   
      .content5 {     
       display: none;
      }
      .content6 {
          border: 1px solid rgb(236, 236, 238);
          background-color: rgb(244, 244, 252);
         

      }
      .h3 {
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 10%;          
          border-bottom:1px solid black;

      }
      .para2 {
          padding: 20px 35px 20px 35px;

      }
      .pic {
        width: 100%;
      }
      .pic7 {
        display: block;
        width:56%;
        height: auto;
        margin-left: 20%;
      }
      .pic8 {
        display: block;
        width:56%;
        height: auto;
        margin-left: 20%;
      }
      .pic9 {
        display: block;
        width:56%;
        height: auto;
        margin-left: 20%;
      }
      .pic10 {
        display: block;
        width:56%;
        height: auto;
        margin-left: 20%;
      }
      .pic11 {
        display: block;
        width:56%;
        height: auto;
        margin-left: 20%;
      }
      .menu2 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 10%;
        border:1px solid rgb(199, 199, 245);
        
      }
      
      .menu2 li {
        padding: 8px;
       
        margin-bottom: 7px;
        background-color: #33b5e5;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      
      .menu2 li:hover {
        background-color: #0099cc;
      }
      .footer3 {
        background-color: rgb(53, 54, 97);
        padding-left:30px;
        padding-top:10px;
        padding-bottom:10px;
        color:white;
       
         

      }
    }
