.row::after {
    content:"";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  * {
    box-sizing: border-box;
  }
  @media only screen and (min-width:992px) {
  body {
    height: auto;
    margin: auto;
    }
    
  .container{
    width: 1200px;
    margin: 0 auto;
    background-color:rgb(227, 223, 248);
    font-family: 'Nunito Sans';
    }
    .menu ul {
        list-style-type: none;
        padding:12px 50px 12px 50px; 
        margin: 0px;
        overflow: hidden;
        background-color: rgb(85, 107, 136);
        position: fixed;
        width: 1200px;
        z-index: 2;
     
       }
       li a  {float:right;
        display:block;
        padding: 14px 16px;
        text-align: center;
        color:#f7f9fc;
        text-decoration: none;
        font-size: 19px;
      
      }
    
     .style {
       float:left;
     }
      
     
      li a:hover { 
        background-color: lightgray;
        color:rgb(209, 58, 12);
               }
      
               
                                   
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      
      .banner { background:url(./anh/ava-4.jpg);
        width:100%;
        height:650px;
        background-size:cover;
        position:relative;
        background-repeat: no-repeat;
        background-position: center;
       

      }
   
      .content1 {    
        position:absolute;
        top:170px;
        left:130px; 
        font-size:50px;
        color: white;
        font-family: 'Chonburi';
        color:red;
  
         }
    
      .content2 { 
    
        color:blue;
        font-size:25px;
        margin-left:30%;
        margin-right:30%;
        margin-top: 50px;
        text-align: center;
        border-bottom: 1px solid rgb(31, 31, 85);
      }
      .content3 {
        color:blue;
        font-size:25px;
        margin-left:20%;
        margin-right:20%;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        border-bottom: 1px solid rgb(31, 31, 85);
      }
      .content4 {
        color: black;
        margin-left :5%;
      }
      .para1 {
        padding:25px 20px 25px 20px;
      }
      
      .table div img {
        display: block;
        width:100%;
        height:auto;
        margin-bottom: 20px;
      }
      .pic {
        width: 100%;
      }
      .pic1 {
        width:33%;
        height:auto;
        float: left;
        text-align: center;
      }
      .pic2 {
        width:33%;
        height: auto;
        float: left;
        text-align: center;
      }
      .pic3 {
        width:33%;
        height:auto;
        float: left;
        text-align: center;
      }
     .pic4 {
       display: block;
       margin-left: 20%;
     } 
     .pic5 {
       display: block;
       width:56%;
       height: auto;
       margin-left: 20%;
       }
      
      .footer {
        background-color: rgb(53, 54, 97);
        padding-left:30px;
        padding-top:10px;
        padding-bottom:10px;
        color:white;
       
      }
    }
     
        
     
   
    