.row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;}

  /* For mobile phones: */
  @media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
    }
body {
    background-color:rgb(243, 245, 245);
    width: 100%;
    height: auto;
    margin: auto;
      
    }
    * {
        box-sizing: border-box;
      }
     
 .menu3 ul {
    list-style-type: none;
    padding-left:2%;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(81, 87, 107);
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
   }
li a {
      float: right;
        padding: 10px 10px;
        text-align: center;
        color:#6e8ebe;
        text-decoration: none;
        font-size: 10px;
          }
.style {
            float:left;
          }
           
          
li a:hover { 
             background-color: lightgray;
             color:rgb(209, 58, 12);
                    }
.banner3 {
  text-align: center;
}                   
.content7 {
            border: 1px solid rgb(33, 33, 43);
            background-color: rgb(226, 226, 231);
                      }
.h1{
           text-align: center;
                }
.h3 {
            background-color: rgb(173, 97, 97);
            padding:10px;
                }
.h4 {
            border-bottom:1px solid blue;
                }
                .pic {
                  width: 100%;
                }
.pic12 {
            width: 70%;
            height: auto;
            margin-left: 12%;
            display: block;
                }
.pic13 {
            width:100%;
            height: auto;              
            display: block;
                }
li {
            font-size: 20px;
                }
li:hover {
            color: blue;
                }

.footer4 {
            background-color: rgb(53, 54, 97);
            padding-left:30px;
            padding-top:10px;
            padding-bottom:10px;
            color:white;
                   
                  }
                      }
                